{% extends 'base.html' %}

{% block title %}Gerenciar Tags{% endblock %}

{% block content %}
<main class="main-container">
    <div class="container-form">
        <div>
            <h1>Crie uma Nova Tag</h1>
            <form action="" method="post">
                Nome: <input type="text" name="nomeForm" required>
                Classe: 
                <select name="classeForm" id="" required>
                    <option value="" disabled selected>Selecione uma classe</option>
                    {% for classe in classes %}
                        <option value="{{ classe.id_classe }}">{{ classe.nome }}</option>
                        
                    {% endfor %}

                </select>
                <input type="submit" value="Criar">

            </form>

        </div>

    </div>

</main>
    
{% endblock %}