{% extends 'base.html' %}

{% block title %}Gerenciar Materias{% endblock %}

{% block content %}

    <div>
        <h1>Crie uma Nova Materia</h1>
        <form action="" method="post">
            Nome: <input type="text" name="nomeForm" required>
            Curso: 
            <select name="cursoForm" id="">
                <option value="" disabled selected>Selecione um curso</option>
                {% for curso in cursos %}
                    <option value="{{ curso.id_curso }}">{{ curso.nome }}</option>
                    
                {% endfor %}
            </select>
            <input type="submit" value="Criar">

        </form>

    </div>
    
{% endblock %}