.curso-section {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.atividades {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px; /* corrigido (antes estava 32x) */
}

.atividades h2 {
  font-size: 1.3rem;
  margin-bottom: 6px;
}

/* GRID */
.atividade-lista {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 12px;
  flex: 1;
  overflow-y: auto;
  padding-right: 8px;
}

/* CARD */
.atividade-card {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  gap: 6px;

  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
}

/* PREVIEW  */
.atividade-preview {
  width: 100%;
  height: 110px;
  border-radius: 6px;
  overflow: hidden;
  background-color: #f3f4f6;
}

.atividade-preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.atividade-preview-vazio {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75rem;
  color: var(--texto-secundario);
}

/* INFO */
.atividade-card h3 {
  font-size: 0.95rem;
  margin-bottom: 8px;
}

.atividade-card p {
  font-size: 0.8rem;
  color: var(--texto-secundario);
  margin-bottom: 0;
}

.atividade-info {
  display: flex;
  flex-direction: column;
  gap: 2px; 
}

.atividade-info h3 {
  margin: 0 0 4px 0;
}

.atividade-info p {
  margin: 0;
  line-height: 1.2;
}

.atividade-card .info-materia {
  font-size: 0.75rem;
}


/* ACOES */
.atividade-actions{
  display: flex;
  flex-direction: row;
  text-align: right;
  justify-content: right;
}

@media (max-width: 900px) {
  .atividade-lista {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .atividade-preview {
    height: 90px;
  }

  .atividade-card {
    padding: 8px;
  }

  .atividade-card h3 {
    font-size: 0.85rem;
  }
}
