/* ===============================
   BARRA FIXA
================================ */
.home-fixed {
  position: sticky;
  top: var(--navbar-height);
  z-index: 20;

  background-color: var(--fundo-pagina);
  padding: 8px 0;
  border-bottom: 1px solid #e5e7eb;
}

.home-fixed-inner {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  gap: 6px;  
}

.home-actions {
  display: flex;
  align-items: center;
  gap: 16px;
}

/* ===============================
   SEARCH BAR
================================ */

.search-wrapper {
  position: relative;
  flex: 1;

  height: 46px;
  padding: 0 0px 0 20px;

  background-color: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 999px;

  display: flex;
  align-items: center;

  box-sizing: border-box;
}

form.search-wrapper {
  display: flex !important;
  flex-direction: row !important;
  gap: 0 !important;
  background: transparent;
}

.search-wrapper input {
  all: unset;
  flex: 1;

  height: 100%;
  font-size: 1rem;
  color: #374151;
}

.search-wrapper input::placeholder {
  color: #9ca3af;
}

.search-wrapper input:focus {
  outline: none;
  box-shadow: none;
  background-color: transparent !important;
}

.search-wrapper:focus-within {
  box-shadow: none;
  border-color: #e5e7eb;
  background-color: transparent !important;
}

.search-btn {
  all: unset;

  width: 38px;
  height: 38px;

  margin-right: 3px;
  border-radius: 50%;

  background-color: var(--azul-principal);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color 0.2s ease;
}

.search-btn img {
  width: 18px;
  height: 18px;
}

.search-btn:hover {
  background-color: var(--azul-escuro);
}

.publish-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}


@media (max-width: 600px) {
  .publish-wrapper {
    display: none;
  }

  .home-fixed {
    padding: 6px 0;
  }

  .home-fixed {
    position: sticky;
    top: 0;              
    z-index: 900;
  }
}


@media (max-width: 768px) {
  .home-actions {
    flex-direction: column;
    align-items: stretch;
    gap: 8px;
  }

  .home-fixed-inner {
    max-width: 100%;
    padding: 0 16px;
  }
}


/* ===============================
   BARRA ATIVIDADES
================================ */
.atividades {
  padding-top: 4px;
}

.atividades h2 {
  margin-top: 8px;
  margin-bottom: 12px;
}
