<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
    <nav class="navbar">
        <a href="{{url_for('home')}}">Página inicial(logo)</a>
        <a href="{{ url_for('home' ) }}">Página inicial</a>
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('perfil' ) }}">Perfil</a>

        {% else %}
            <a href="{{ url_for('login' ) }}">Login</a>

        {% endif %}

    </nav>

    {% block content %}{% endblock %}
    
</body>
</html>