{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}

<main class="main-container">
  <section class="home-header">
    <h2>Olá, {{ current_user.nome_completo }} 👋</h2>

  </section> 

  <section class="home-searh">
    <input type="text" placeholder="Pesquisar atividades...">
    <div class="search-actions">
      <a href="{{ url_for('publicar') }}" class="btn btn-primary">Publicar atividade</a>
      <button class="btn btn-secondary">Pesquisar</button>

    </div>

  </section>

  <section class="atividades">
    {% for curso in cursos %}
      <h2>{{ curso.nome }}</h2>

      {% if curso.atividades %}
        <div class="atividade-lista">
          {% for atividade in curso.atividades %}
            <div class="atividade-card">

              <div class="preview">
                {% if atividade.arquivos %}
                  <img src="{{ atividade.arquivos[0].arquivo_url }}" alt="Preview da atividade">
                
                {% else %}
                  <div class="Preview-vazio">Sem preview</div>
                
                {% endif %}

              </div>

              <div class="info">
                <h3>{{ atividade.titulo }}</h3>
                <p class="materia">{{ atividade.materia.nome }}</p>

              </div>

            </div>

          {% endfor %}

      {% endif %}
    
    {% endfor %}

  </section>

<footer>
  <p>© 2026 - Repositório de Atividades Adaptadas para NEE</p>
</footer>

{% endblock %}