{% extends "base.html" %}

{% block title %}Início{% endblock %}

{% block content %}


<main class="main-container institucional">

    <section class="intro">
        <h1>Repositório de Atividades Adaptadas</h1>
        <p class="subtitle">
            Plataforma colaborativa destinada à disponibilização de atividades
            educacionais adaptadas para estudantes com Necessidades Educacionais
            Especiais (NEE), no contexto dos cursos técnicos.
        </p>
    </section>

    <section class="texto-institucional">
        <p>
            O Repositório de Atividades Adaptadas tem como finalidade apoiar docentes
            e instituições de ensino na promoção de práticas pedagógicas inclusivas,
            por meio da organização, do armazenamento e da disponibilização de materiais educacionais
            adaptados para o ensino profissionalizante às diferentes necessidades de aprendizagem.
        </p>

        <p>
            A plataforma possibilita que docentes publiquem, consultem e reutilizem
            atividades pedagógicas adaptadas, contribuindo para a ampliação do acesso,
            da acessibilidade e da equidade no processo educacional no âmbito do ensino
            técnico e profissionalizante.
        </p>
    </section>

    <section class="inicio-acoes">
        <a href="{{ url_for('publicar') }}" class="btn btn-primary">
            Publicar atividade
        </a>

        <a href="{{ url_for('home') }}" class="btn btn-outline">
            Conhecer o repositório
        </a>
    </section>

</main>

<footer>
  <p>© 2026 - Include: Repositório de Atividades Adaptadas para NEE nos Cursos Técnicos</p>
</footer>

{% endblock %}
