{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

    <div>

        <form action="" method="post">
            Email: <input type="email" name="emailForm" value="{{ form_data.emailForm if form_data else ''}}" placeholder="exemplo@email.com" required> <br>
            Senha: <input type="password" name="senhaForm" required> <br>
            <input type="submit" value="Logar">
        </form> <br>

        <p>Não está cadastrado? <br>
            <a href="{{ url_for('cadastro') }}">Clique aqui</a>
        </p>

    </div>
 
{% endblock %}