{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
  <main class="main-container">

    <section class="profile-page">
        <div class="content-card">
            <aside class="profile-card">
                {% if current_user.public_id %}
                    <img src="{{current_user.foto_url}}" alt="Foto de perfil">

                 {% else %}
                    <img src="static/images/default.png" alt="Foto de perfil padrão">    

                {% endif %}

                <div class="user-info">
                    <h2>{{ current_user.nome_completo }}</h2>
                    <h3>{{ current_user.nome_usuario }}</h3>
                    <h3>{{ current_user.email}}</h3>
                </div>
                <p class="user-description">{{ current_user.descricao if current_user.descricao else ' ' }}</p>

                <div class="profile-actions">
                    <a href="{{ url_for('editar_perfil' ) }}" class="btn btn-primary">
                        <img src="{{ url_for('static', filename='images/icons/icon-editar.png') }}" alt="">
                        <span>Editar perfil</span>
                    </a>
                    <a href="{{ url_for('logout' ) }}" class="btn btn-secondary">
                        <img src="{{ url_for('static', filename='images/icons/icon-sair.png') }}" alt=""> 
                        <span>Sair</span>
                    </a>

                </div>

            </aside>

            <div class="content-area">
                <header class="content-header">
                    <h2>Conteúdos Publicados</h2>

                    <div class="publish-wrapper">
                        <a href="{{ url_for('publicar') }}" class="publish-btn" title="Adicionar Conteúdo">
                        +
                        </a>

                    </div>


                </header>

                <div class="atividade-lista">
                    {% if atividades %}
                        {% for atividade in atividades %}
                            <div class="atividade-card">
                                <div class="atividade-preview">
                                    {% if atividade.arquivos %}
                                    <img src="{{ atividade.arquivos[0].arquivo_url }}" alt="Preview da atividade">
                                    
                                    {% else %}
                                    <div class="atividade-preview-vazio">Sem preview</div>
                                    
                                    {% endif %}

                                </div>

                                <div class="atividade-info">
                                    <h3>{{ atividade.titulo }}</h3>
                                    <p>{{ atividade.curso.nome }}</p>
                                    <p class="info-materia">{{ atividade.materia.nome }}</p>

                                </div>

                                <div class="atividade-actions">
                                    <form action="{{ url_for('excluir_atividade', id=atividade.id_atividade) }}" method="POST"
                                    onsubmit="return confirm('Tem certeza que deseja excluir esta atividade?')">
                                        <button type="submit" class="btn-icon-action">
                                            <img src="{{ url_for('static', filename='images/icons/icon-excluir.png')}}" alt="Excluir atividade">

                                        </button>
                                    </form>

                                    <a href="{{ atividade.arquivos[0].arquivo_url
                                    | replace('/upload/', '/upload/fl_attachment:atividade/') }}" 
                                    class="btn-icon-action">
                                        <img src="{{ url_for('static', filename='images/icons/icon-baixar.png') }}" alt="">
                                    </a>

                                </div>

                            </div>
                        {% endfor %}

                    {% else %}
                        <p>Nenhum conteúdo publicado ainda.</p>

                    {% endif %}
                </div>

            </div>

        </div>

    </section>

{% endblock %}