{% extends "base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
  <main class="main-container">
    
    <div class="profile-layout-container">
        <section class="profile-section">
            <div class="profile-header">
                {% if current_user.public_id %}
                    <img src="{{current_user.foto_url}}" alt="Foto de perfil">

                {% else %}
                    <img src="static/images/default.png" alt="Foto de perfil padrão">    

                {% endif %}

                <div class="user-info">
                    <h2>{{ current_user.nome_completo }}</h2>
                    <h3>{{ current_user.email}}</h3>
                    <p>{{ current_user.descricao if current_user.descricao else ' ' }}</p>
                </div>
            </div>
            <div class="profile-actions">
                <button class="edit-btn">
                    <a href="{{ url_for('editar_perfil' ) }}">Editar</a>
                </button>
                <button class="logout-btn">
                    <a href="{{ url_for('logout' ) }}">Sair</a>
                </button>
            </div>
        </section>

        <section class="published-content">
            <div class="add-content-header">
                <h3>Conteúdos Publicados</h3>

                <div class="publish-wrapper">
                    <button class="publish-btn" title="Adicionar Conteúdo">
                        <a href="{{ url_for('publicar') }}" class="publish-btn">
                            <span class="plus">+</span>
                        </a>
                        <span class="publish-label">Publicar recurso</span>
                        
                    </button>

                </div>
            </div>
           
            <div class="atividade-lista">
                {% if atividades %}
                    {% for atividade in atividades %}
                        <div class="atividade-card">
                            <div class="preview">
                                {% if atividade.arquivos %}
                                <img src="{{ atividade.arquivos[0].arquivo_url }}" alt="Preview da atividade">
                                
                                {% else %}
                                <div class="Preview-vazio">Sem preview</div>
                                
                                {% endif %}

                            </div>

                            <div class="info">
                                <h3>{{ atividade.titulo }}</h3>
                                <p class="materia">{{ atividade.materia.nome }}</p>

                            </div>

                            <div class="acoes">
                                <a href="{{ atividade.arquivos[0].arquivo_url }}" 
                                    target="_blank" 
                                    class="btn-icon"
                                    title="Baixar">
                                    ⬇
                                </a>

                                <form action="{{ url_for('excluir_atividade', id=atividade.id_atividade) }}" method="POST">
                                    <button type="submit" class="btn-icon btn-icon-danger" title="Excluir">
                                    🗑
                                    </button>

                                </form>

                        </div>
                    {% endfor %}

                {% else %}
                    <p>Nenhum conteúdo publicado ainda.</p>

                {% endif %}
            </div>
        </section>
    </div>

  </main>

{% endblock %}