{% extends "base.html" %}

{% block title %}Publicar Atividade{% endblock %}

{% block content %}

<main class="main-container">
    <div class="container-form">
        <h2>Publicar Atividade Adaptada</h2>
        <form action="" method="post" enctype="multipart/form-data">
            Adicionar Arquivo: <input type="file" name="arquivoForm" id="" required>
            Titulo: <input type="text" name="tituloForm" id="" required>
            Descrição: <input type="text" name="descricaoForm" id="" required>
            Materia:
            <select name="materiaForm" id="">
                <option value="" disabled selected>Selecione uma matéria</option>
                    {% for materia in materias %}
                        <option value="{{ materia.id_materia }}">{{ materia.nome }}</option>
                        
                    {% endfor %}
            </select>
            <label for="tags">Tags:</label> 
            <select name="tagsForm" id="" multiple size=6 class="tags-select">
                    {% for tag in tags %}
                        <option value="{{ tag.id_tag }}">{{ tag.nome }}</option>
                        
                    {% endfor %}
            </select>
            <input type="submit" value="Publicar" class="btn btn-action-submit">

        </form>

    </div>

</main>

{% endblock %}