{% extends "base.html" %}

{% block title %}Busca{% endblock %}

{% block content %}


<section class="home-fixed">
  <div class="home-fixed-inner">

    <div class="home-actions">
      <form class="search-wrapper" action="" method="GET">
          <input type="text" name="q" placeholder="Buscar materiais...">
          <button class="search-btn" aria-label="Pesquisar">
            <img src="{{ url_for('static', filename='images/icons/icon-pesquisar.png') }}" alt="">

          </button>
        
      </form>

      <div class="publish-wrapper">
        <a href="{{ url_for('materials.publicar') }}" class="publish-btn">
          <span class="plus">+</span>
        </a>
        <span class="publish-label">Publicar recurso</span>

      </div>

    </div>
    
  </div>

</section>


<main class="main-container">

    <div class="home-header">
    <h2>Resultados para "{{ termo }}"</h2>

    </div>

    <section class="materiais">
        {% if materiais %}
            <div class="material-lista">
                {% for material in materiais %}
                    <div class="material-card">

                        <div class="material-preview">
                            {% if material.arquivos %}
                                <img src="{{ material.arquivos[0].arquivo_url }}" alt="Preview da material">
                  
                            {% else %}
                                <div class="material-preview-vazio">Sem preview</div>
                  
                            {% endif %}

                        </div>

                        <div class="material-info">
                            <h3>{{ material.titulo }}</h3>
                            <p>{{ material.curso.nome }}</p>
                            <p class="info-materia">{{ material.materia.nome }}</p>

                        </div>

                        <div class="material-actions">
                            <a href="{{ material.arquivos[0].arquivo_url
                            | replace('/upload/', '/upload/fl_attachment:material/') }}" 
                            class="btn-icon-action">
                                <img src="{{ url_for('static', filename='images/icons/icon-baixar.png') }}" alt="">
                            </a>

                        </div>

                    </div>

                {% endfor %}
            
            </div> 
            
        {% else %}
            <p>Nenhum conteúdo publicado até o momento.</p>

        {% endif %}

    </section>

</main>


{% endblock %}