{% extends "base.html" %}

{% block title %}Página Inicial{% endblock %}

{% block content %}
<section class="home-fixed">
  <div class="home-fixed-inner">

    <div class="home-actions">
      <form class="search-wrapper" action="{{ url_for('main.busca')}}" method="GET">
          <input type="text" name="q" placeholder="Buscar materiais..." value="{{ termo or ''}}">
          <button class="search-btn" aria-label="Pesquisar">
            <img src="{{ url_for('static', filename='images/icons/icon-pesquisar.png') }}" alt="">

          </button>
        
      </form>

      <div class="publish-wrapper">
        <a href="{{ url_for('materials.publicar') }}" class="publish-btn">
          <span class="plus">+</span>
        </a>
        <span class="publish-label">Publicar recurso</span>

      </div>

    </div>
    
  </div>

</section>


<main class="main-container">

  <div class="home-header">
   <h2>Olá, {{ current_user.nome_completo }} 👋</h2>
    <p>Começe a explorar nosso repositório de materiais aqui!</p>

  </div>

  <section class="materiais">
    {% for curso in cursos %}
      <div class="curso-section">
        <h2>{{ curso.nome }}</h2>

        {% if curso.materiais %}
          <div class="material-lista">
            {% for material in curso.materiais %}
              <div class="material-card">

                <div class="material-preview">
                                      {% if material.arquivos %}
                                        {% set arquivo = material.arquivos[0] %}

                                        {% if 'image' in arquivo.tipo %}
                                            <img class="preview-img" src="{{ arquivo.arquivo_url }}" loading="lazy">
                                            
                                        {% elif 'application/pdf' in arquivo.tipo %}
                                            <iframe class="preview" src="{{ arquivo.arquivo_url }}" loading="lazy"></iframe>
                                                
                                        {% elif 'word' in arquivo.tipo %}
                                            <div class="preview-doc">
                                                <img src="{{ url_for('static', filename='images/icons/icon-word.png') }}" alt="Documento Word">    
                                                <p>{{ arquivo.nome }}</p>

                                            </div>
                                    
                                        {% else %}
                                        <div class="material-preview-vazio">Sem preview</div>

                                        {% endif %}
                                        
                                    {% endif %}

                </div>

                <div class="material-info">
                  <a href="{{ url_for('materials.detalhes_material', id=material.id_material)}}">
                    <h3>{{ material.titulo }}</h3>
                  </a>
                  <p>{{ material.curso.nome }}</p>
                  <p class="info-materia">{{ material.materia.nome }}</p>

                </div>

                <div class="material-actions">
                  <a href="{{ material.arquivos[0].arquivo_url
                           | replace('/upload/', '/upload/fl_attachment:material') }}" 
                           class="btn-icon-action">
                    <img src="{{ url_for('static', filename='images/icons/icon-baixar.png') }}" alt="">
                  </a>
                </div>

              </div>

            {% endfor %}

        {% else %}
          <p>Nenhum conteúdo publicado até o momento.</p>

        {% endif %}

      </div>
    
    {% endfor %}

  </section>

</main>

<footer>
  <p>© 2026 - Include: Repositório de materiais Adaptadas para NEE nos Cursos Técnicos</p>
</footer>

{% endblock %}