{% extends "base.html" %}

{% block title %}Publicar Atividade{% endblock %}

{% block content %}

<main class="main-container">
    <div class="container-form">
        <h2>Publicar Atividade Adaptada</h2>
        <form action="" method="post" enctype="multipart/form-data">
            Titulo: <input type="text" name="tituloForm" id="" value="{{ form_data.get('tituloForm', '') }}" required>
            Descrição: <input type="text" name="descricaoForm" id="" value="{{ form_data.get('descricaoForm', '') }}" required>
            Adicionar Arquivo: <input type="file" name="arquivosForm" id="" multiple required>
            Materia:
            <select name="materiaForm" id="">
                <option value="" disabled selected>Selecione uma matéria</option>
                {% for curso in cursos %}
                    <optgroup label="{{ curso.nome }}"></optgroup>
                    {% for materia in curso.materias %}
                        <option value="{{ materia.id_materia }}" 
                            {% if form_data.get('materiaForm') == materia.id_materia|string %}
                                selected
                            {% endif %}>
                                {{ materia.nome }}
                        </option>
                        
                    {% endfor %}
                {% endfor %}
            </select>

            <label for="tags">Tags:</label> 
            <select name="tagsForm" id="" multiple size="6">
                {% for classe in classes %}
                    {% if classe.tags %}
                        <optgroup label="{{ classe.nome }}">
                            {% for tag in classe.tags %}
                                <option value="{{ tag.id_tag }}"
                            {% if tag.id_tag|string in form_data.get('tagsForm', []) %}
                                selected
                            {% endif %}>
                                {{ tag.nome }}
                            </option>
                            
                            {% endfor %}
                        </optgroup>
                    
                    {% endif %}

                {% endfor %}
            </select>

            <small>
                Segure <strong>Ctrl + clique</strong> (ou toque longo no celular) para selecionar múltiplas tags.
            </small>

            <input type="submit" value="Publicar" class="btn btn-action-submit">

        </form>

    </div>

</main>

{% endblock %}