/* DROPDOWN */

.dropdown {
  position: absolute;

  top: 0;
  right: 48px;

  min-width: 150px;

  background-color: #ffffff;

  border: 1px solid #dbe3ef;
  border-radius: 6px;

  box-shadow: 0 4px 12px rgba(0, 74, 173, 0.08);

  overflow: hidden;

  display: none;

  z-index: 20;
}

.dropdown.show {
  display: block;
}

.dropdown a,
.dropdown button {
  display: block;

  width: 100%;

  padding: 10px 14px;

  text-decoration: none;

  font-size: 0.85rem;
  font-weight: 500;

  text-align: left;

  border: none;
  background: none;

  cursor: pointer;

  color: var(--texto-principal);
}

.dropdown a:hover,
.dropdown button:hover {
  background-color: #f5f8fc;
}

.dropdown .dropdown-danger {
  color: var(--vermelho-alerta);
}

.dropdown .danger:hover {
  background-color: #fff5f5;
}